.apppart
{
  display:none;
}
.apppart--active
{
  display:block;
}

.connectserver__url
{
  font-size:120%;
  width:300px;
}

.verifyserver__button
{
  font-size:200%;
  padding:5px 30px;
  margin-right:50px;
}
.verifyserver__button:hover
{
  background-color:#0000bb;
  color:#ffffff;
}
